<h1 class="font-bold mb-2 text-center text-lg">{{ title | titlecase }}</h1>

  <input
  type="text"
  class="mb-2 border py-2 px-4 w-full"
  placeholder="search"
  [(ngModel)]="term"
  >

  <!-- <app-product
[products]="products[0]"
>
</app-product>-->
  <p *ngIf="loading" class="text-center text-lg">loading...</p>
  <!-- <app-product
*ngFor="let products of products let i = index"
[products]="products"
>

</app-product> -->
<div *ngIf="productsService.products">
  <app-product *ngFor="let products of productsService.products | filterProducts:term; let i = index" [products]="products">

  </app-product>
</div>

<app-modal *ngIf="modalService.isVisible$ | async" title="Create new product">
  <app-create-product></app-create-product>
</app-modal>
<button
 class="rounded-full bg-red-700 text-white fixed right-5 bottom-5 py-2 px-4"
 (click)="modalService.open()"
 >+</button>
